<header class="w-100 position-sticky top-0 py-3 px-3 bg-primary row m-auto align-items-center">
    <div class="col-9">
        <span class="text-white">Logo aqui</span>
    </div>
    <nav class=" bg-dark "[class.active]="showNav">
        <a class="text-white d-block text-decoration-none">Inicio</a>
        <a class="text-white d-block text-decoration-none">Lista de tareas</a>
        <a class="text-white d-block text-decoration-none">Contacto</a>
        <button type="button" class="btn btn-light"(click)="toggleNav()"><i class="bi bi-x-lg"></i></button>
    </nav>
    <div class="col-3">
        <button type="button" class="btn btn-light" (click)="toggleNav()">
            <i class="bi bi-list"></i>
        </button>

    </div>
</header>
