

<div class="contenedor">

    <ul class="listas">

        <li><input type="text" > hola <input type="checkbox"></li>
        <li>hola <input type="checkbox"></li>
        <li>hola <input type="checkbox"></li>
        <li>hola <input type="checkbox"></li>
        <li>hola <input type="checkbox"></li>
        <li>hola <input type="checkbox"></li>
        <li>hola <input type="checkbox"></li>
        <li>hola <input type="checkbox"></li>
        <li>hola <input type="checkbox"></li>
        <li>hola <input type="checkbox"></li>
        <li>hola <input type="checkbox"></li>
        <li>hola <input type="checkbox"></li>
        <li>hola <input type="checkbox"></li>
        <li>hola <input type="checkbox"></li>
        <li>hola <input type="checkbox"></li>
        <li>hola <input type="checkbox"></li>






    </ul>
    <div class="botones">
        <button class="boton col-3" type="button" (click)="toggleText()">editar</button>
        <button class="boton col-3" type="button">+</button>
        <button class="boton col-3" type="button">-</button>

    </div>

</div>

