<div class="contenedor">
   <div class="logo">
       <h2>ToDoList</h2>
   </div>
    <div class="texto">
        <h2>Registro</h2>
    </div>
    <div class="campos">
        <form method="post" [formGroup]="formulario"  (submit)="cambiar()">
        <label for="name-usuario"></label>
        <input formControlName="name" id="name-usuario" class="input" type="text" placeholder="Usuario"><br>

        <label for="name-pass"></label>
        <input formControlName="password" id="name-pass" class="input" type="text" placeholder="Contraseña"><br>

        <label for="name-pass2"></label>
        <input formControlName="pass2" id="name-pass2" class="input" type="text" placeholder="Confirmar Contraseña"><br>

        <label for="name-mail"></label>
        <input formControlName="mail" id="name-mail" class="input" type="text" placeholder="Mail"><br>

            <button type="submit" class="boton">Registro</button>
        </form>
</div>

</div>