<div class="contenedor">
   <div class="logo">
       <h2>ToDoList</h2>
   </div>
    <div class="texto">
        <h2>Registro</h2>
    </div>
    <div class="campos">
        <input class="input" type="text" placeholder="Usuario"><br>
        <input class="input" type="text" placeholder="Contraseña"><br>
        <input class="input" type="text" placeholder="Confirmar Contraseña"><br>
        <input class="input" type="text" placeholder="Correo"><br>
        <button type="button" class="boton" (click)="cambiar()" >Registro</button>
</div>
</div>