form{
  width: 90%;
  max-width:400px;
  height: 500px;
  margin: 30px auto 20px;
  background-color: whitesmoke;

div{
    width:100%;

    &:not(:last-of-type){
      margin-bottom:20px;

      }

    label{
      display: block;
      margin: 0 auto 5px;


      }
    input,select{
      width:100%;
      padding: 3px 3px 3px 6px;
      border: 1px solid #ccc;
      border-radius: 10px;
      border-color: black;


      }
      &.button-form{


        button {
          display: block;
          margin: 0 0 0 auto;
          border-radius: 7px;
          border: 1px solid black;
          outline:none;
          background-color: transparent;
          color: black;
          cursor: pointer;
          transition: .25s all;

          &[disabled]{
            opacity:0.4;
            }
          }

        }
  }
}
