<form method="post" [formGroup]="formulario" (ngSubmit)="enviar()">

  <div>
    <label for="name-pokemon">Nombre</label>
    <input formControlName="name" type="text" id="name-pokemon" placeholder="Pokemon">
  </div>
  <div>
    <label for="category">Tipo:</label>
    <select formControlName="category" id="category">
      <option value="" selected>Selecciona una opcion</option>
      <option value="fuego"> fuego</option>
      <option value="agua"> agua</option>
    </select>
  </div>
  <div class="button-form">
    <button type="submit" [disabled]="formulario.invalid">buscar</button>
  </div>
</form>
