div{
  h1{
    font-size: medium
    }
  span{
    font-size:medium
    }
  }
h1{
  font-size:small

  }
span{
  font-size:small
  }
#contenedor1{
  p{
    color:red;
    span{
      font-weight:bold;
      }
    }
  }
#contenedor2{

  p{
     span{
          font-weight:bold;
          }
    color: blue;
    }}
